/* CONTENEDOR GENERAL */

form{
    width:90%;
    margin:auto;
}

/* INPUTS SUPERIORES */

.datos-superiores{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    margin-top:40px;
}

/* CADA CAMPO */

.campo{
    display:flex;
    align-items:center;
    gap:12px;
}

/* SECCIÓN CENTRAL */

.datos-inferiores{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:25px;
    margin-top:60px;
}

/* LABELS */

label{

    color:white;
    font-size:20px;
    font-weight:600;
}

/* INPUTS */

input[type="text"]{

    width:220px;
    padding:12px;
    border:none;
    border-radius:12px;
    background:rgba(255,255,255,0.9);
    font-size:16px;
}

/* BOTÓN */

.btn-agregar{

    width:180px;
    padding:12px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    color:white;
    font-size:18px;
    font-weight:bold;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    transition:0.3s;
}

.btn-agregar:hover{

    transform:translateY(-3px);
    background:rgba(255,255,255,0.25);
}

/* TOTAL */

.total{

    display:flex;
    align-items:center;
    gap:15px;
    justify-content:flex-end;
    margin-top:30px;
    margin-right:60px;
}

