table{

    width:90%;
    max-width:1200px;
    margin:auto;
    border-collapse:collapse;
    table-layout:fixed;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,0.25);
}

th{
    padding:12px 8px;
    color:white;
    font-size:15px;
    font-weight:bold;
    text-transform:uppercase;
}

td{
    padding:12px;
    height:50px;
    text-align:center;
    color:white;
    font-size:15px;
}

